.content{
    max-width: 912px;
    .container {
        display: flex;
        position: relative;
        .wrapper {
            min-width: 100%;
            header{
                display: flex;
                justify-content: end;
                max-width: 912px;
                height: 55px;
                background-color: whitesmoke;
                .language{
                    display: flex;
                    width: 80px;
                    border-left: 2px solid #d2d2d2;
                    border-right: 2px solid #d2d2d2;
                    justify-content: center;
                    ul{
                        display: flex;
                        li{
                            .list-a{
                                margin-top: 20px;
                                display: flex;
                                text-decoration: none;
                                color: #171717;
                                img{
                                    width: 18px;
                                    border-radius: 8px;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
                .account{
                    padding: 4px;
                    min-width: 300px;
                    display: flex;
                    justify-content: space-around;
                    img{
                        cursor: pointer;
                        &:hover{
                            border: 2px solid transparent;
                            border-radius: 50%;
                        }
                    }
                    .accaunt-information{
                        margin-top: 10px;
                        align-items: center;
                        color: #535353;
                        &::first-line{
                            color: #171717;
                        }
                    }
                    .account-settings{
                    }
                }
            }
            .dashboard{
                display: flex;
                max-width: 100%;
                height: 45px;
                background-color: #d2d2d25b;
                border: 2px solid #d2d2d2d2;
                .dashboard-container{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    .dashboard-text{
                        display: flex;
                        width: calc(100% - 210px);
                        align-items: center;
                        span{
                            margin-left: 25px;
                            color: #535353;
                            font-family: serif;
                        }
                    }
                    .page-fav{
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        width: 250px;
                        background-color: #bdbdbd;
                        color: #737373;
                        font-weight: bold;
                        #heart{
                            font-size: 16px;
                            cursor: pointer;
                            &:hover{
                                color: red;
                                text-shadow: 0 0 4px red ;
                            }
                        }
                    }
                }
    
            }
            main{
                max-width: 912px;
                .first-two{
                    display: flex;
                }
                .main-content{
                    .numbers-div{
                        display: flex;
                        max-width: 912px;
                        height: 160px;
                        .num-div-init{
                            display: flex;
                            min-width: 228px;
                            max-width: 456px;
                        }
                        .numbers{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            min-width: 228px;
                            .first-number{
                                position: relative;
                                #first,
                                #second,
                                #third,
                                #fourth{
                                    fill: #b6b6b61c;
                                    position: absolute;
                                    height: 200px;
                                    margin: -50px 0 0 -30px;
                                }
                                #second{
                                    margin: -10px 0 0 -50px;
                                }
                                #fourth{
                                    margin: -50px 0 0 50px;
                                }
                                .number{
                                    display: flex;
                                    font-weight: bold;
                                    font-size: 40px;
                                    justify-content: center;
                                    font-family:Arial, Helvetica, sans-serif;
                                }
                                .numbers-footer{
                                    display: flex;
                                    justify-content: center;
                                    margin-top: 10px;
                                    i{
                                        font-size: 16px;
                                    }
                                    span{
                                        margin-left: 5px;
                                        color: #737373;
                                    }
                                }
                            }
                        }
                    }
                    .main-container{
                        position: relative;
                        max-width: 912px;
                        .charts-list{
                            position: relative;
                            max-width: 912px;
                        }
                        .table-headers{
                            display: flex;
                            max-width: 912px;
                            min-height: 210px;
                            .tables-menu{
                                .menu-list{
                                    background-color: #383838;
                                    min-height: 40px;
                                    width: 304px;
                                    border-right: 1px solid #737373;
                                    font-size: 21px;
                                    padding: 10px;
                                    color: #d2d2d2;
                                }
                        }
                            .first-table{
                                max-width: 304px;
                                min-height: 210px;
                                width: 304px;
                                padding: 0 6px;
                                text-align: center;
                                font-size: 13px;
                                border: 1px solid #d2d2d2;
                                i{
                                    cursor: pointer;
                                    &:hover{
                                        color: #00acac;
                                        text-shadow: 0 0 2px #00acac;
                                    }
                                }
                                td{
                                    border-bottom: 1px solid #d2d2d2;
                                }
                            }
                        }
                    }
                }
            }
        }
        .navbar{
            min-width: 60px;//200
            transition: all 1s;
            span{
                display: none;
            }
            nav{
                top: 0;
                left: 0;
                width: 100%; //60
                min-height: 100vh;
                height: 100%;
                font-size: 15px;
                color: #d2d2d2d2;
                background-color: #171717;
                .nav-header{
                    display: flex;
                    justify-content: end;
                    img{
                        width: 60px;
                        height: 55px;
                        border: 4px solid red;
                    }
                    span{
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        font-size: 20px;
                        &:hover{
                            color: #00acac;
                            text-shadow: 0 0 2px #00acac;
                        }
                    }
                }
                i{ 
                    color: #ffffff;
                    cursor: pointer;
                    transition: all 0.5s;
                    &:hover{
                        color: #1f7bb6;
                        text-shadow: 0 0 8px #1f7bb6;
                    }
                }
                .nav-menu-bar{
                    span{
                        cursor: pointer;
                        margin: 0 auto;
                        &:hover,
                        i:hover{
                            color: #1f7bb6;
                            text-shadow: 0 0 2px #1f7bb6;
                        }
                    }
                    .nav-menu-content{
                        position: relative;
                        display: flex;
                        height: 45px;
                        background-color: #2a2a2a;
                        align-items: center;
                        justify-content: end;
                        padding-right: 25px;
                        &:hover{
                            color: red;
                        };
                        .navbar-button{
                            display: flex;
                            align-items: center;
                            position: relative;
                            button{
                                position: absolute;
                                width: 20px;
                                height: 30px;
                                margin-left: 25px;
                                font-weight: bold;
                                font-size: 20px;
                                background-color: #171717;
                                border: 1px #171717 solid;
                                color: white;
                                border-radius: 8px;
                                box-shadow: 0 0 8px #171717bb;
                                transition: all 1s;
                            }
                        }
                    }
                    .black{
                        background-color: #171717;
                        border-top: 1px solid #8080803b;
                        &:hover{
                            color: red;
                        };
                        i{ 
                            &:hover{
                                color: red;
                                text-shadow: 0 0 8px red;
                            }
                        }
                    }
                }
            }
        }
    }
}